/*
// ----------------------------------
// 🎮 Games - Cookie Bar Style
// ----------------------------------
*/

.cookie-bar {
  position: fixed;
  left: var(--gutter);
  bottom: var(--gutter);
  right: auto;
  transition: transform 0.7s cubic-bezier(0.5, 0.25, 0.35, 1);
  transform: translateY(0);
  max-width: 380px;
  width: 100%;
  z-index: 9999;
  visibility: visible;
}

.cookie-bar-content {
  border-radius: calc(var(--radius) / 2);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  display: flex;
  font-size: 15px;
  flex-direction: column;
  padding: 0.5rem;
  position: relative;
}

.cookie-bar.is-hidden {
  transform: translateY(150%);
  visibility: hidden;
}
