/*
// ----------------------------------
// 🎮 Games - Palette Config
// ----------------------------------
*/

:root {
  --lm-background-color: #fff;
  --lm-background-color-100: #f5f5f5;
  --lm-background-color-200: #d2d2d2;
  --lm-border-color: #f5f5f5;
  --lm-text-color: #4e4a49;

  --dm-background-color: #2a2a2a;
  --dm-background-color-100: #1f1f1f;
  --dm-border-color-100: #1f1f1f;
  --dm-text-color: #f2f2f2;

  --background-color: var(--lm-background-color);
  --background-color-100: var(--lm-background-color-100);
  --background-color-200: var(--lm-background-color-200);

  --border-color: var(--lm-border-color);

  --text-color: var(--lm-text-color);

  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--dm-background-color);
    --background-color-100: var(--dm-background-color-100);
    --background-color-200: var(--dm-background-color-200);
    --border-color: var(--lm-border-color);

    --text-color: var(--dm-text-color);

    color-scheme: dark;
  }
}

[data-theme="dark"] {
  --background-color: var(--dm-background-color);

  --background-color-100: var(--dm-background-color-100);
  --text-color: var(--dm-text-color);

  color-scheme: dark;
}

[data-theme="light"] {
  --background-color: var(--lm-background-color);
  --background-color-100: var(--lm-background-color-100);
  --background-color-200: var(--lm-background-color-200);

  --text-color: var(--lm-text-color);

  color-scheme: light;
}
